.nav {
    background-color: #ff66b6;
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align:top;
    padding: 2% 0;
  }
    .logo {
        float: left;
        display: inline-block;
    }
  .menu {
      font-weight: bold;
      padding-top: 1%;
      display: inline-block;
     width: 60%;
      position: relative;
  }

.login {
    float: right;
    margin: 1%;
    padding-right: 2%;
    padding-top: 1%;
    font-weight: bold;
}
.link, .title {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin: 1% 2%;
    display: inline-block;
    float: right;
}
.link:hover {
    text-decoration: underline;
    padding: 1%
}