/* Style inputs, select elements and textareas */
input {
    width: 100%;
    padding: 4%;
    margin: 1%;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    float: right;
    font-size: 19px;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 1%;
    display: inline-block;
  }
  
  /* Style the container */
  .login-container {
    border-radius: 5px;
    padding: 2% 20%;
    text-align: center;
    position: relative;
    height: 100vh;
    /* background-image: url("../../../assets/slide2.jpg");
  background-position:'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
        object-fit: cover; */
  background-color: rgb(255, 186, 85);
    }
  form {
      width: 50%;
      margin: auto
  }
  
   button {
       margin: 3%;
       padding: 4%;
       border-radius: 1em;
       background-color: rgb(255, 186, 85);
       font-size: 19px;
       border: none;
       font-weight: bold;
   }
   button:hover {
       cursor: pointer;
       background-color: #ff66b6;  
       border: none;
   }
button:active {
border: none;
}
.error-input {
border: solid red;
}
.error-text {
color: red
}